/* 简单的重置样式 */
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; /* 防止出现双滚动条 */
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
