// 定义scss全局变量

// 侧边栏宽度
$base-menu-width: 260px;

// 侧边栏折叠后的宽度
$base-menu-min-width: 50px;

// 侧边栏背景颜色
$base-menu-background: #001529;

// 顶部导航的高度
$base-tabbar-height: 50px;

// 主题颜色
$base-color: #409eff;
